@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.foto{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0 20px -90px 90px;
}

.img-fotos {
    width: 500px;
    height: 300px;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
    margin-top: 90px;
    display: inline-block;
}

@media (max-width: 1000px) {
    .img-fotos {
        display: inline;
        margin-top: 20px;
        margin-left: -40px;
        width: 300px;
        height: 150px;
    }
}