
#contact {
    color: #fff;
}

@media (max-width: 1000px) {
    .contact {
        font-size: 12px;
        margin-bottom: -20px;
    }

    input {
        width: 140px;
        font-size: 10px;
    }

    textarea {
        width: 300px;
        height: 150px;
        font-size: 16px;
    }

    #button {
        width: 70px;
        height: 25px;
        margin-bottom: -20px;
    }
}
